{% extends 'base.html' %}
{% load static %}


{% block link %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/cr-1.5.2/sc-2.0.2/sp-1.1.1/datatables.min.css"/>
{% endblock link %}

 



{% block content %}
  <div class="full-height">

    <h1 class="content text-center mb-4">History</h1>


    {% if search_queries %}
      <table id="history" class="table table-hover white-background">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date Placed</th>
            <th scope="col">City From</th>
            <th scope="col">City To</th>
            <th scope="col">Earliest Day</th>
            <th scope="col">Latest Day</th>
            <th scope="col">Stay Duration</th>
            <th scope="col">Departure Date</th>
            <th scope="col">Return Date</th>
            <th scope="col">Roundtrip Price</th>
          </tr>
        </thead>
        <tbody>
          {% for query in search_queries %}
            {% if query.has_results %}
              {% for result in query.get_results %}
                <tr>
                  <th scope="row">{{ query.pk }}</th>
                  <td>{{ query.date_created|date:"Y/m/d" }}</td>
                  <td>{{ query.departure_city }}</td>
                  <td>{{ query.arrival_city }}</td>
                  <td>{{ query.date_from|date:"Y/m/d" }}</td>
                  <td>{{ query.date_to|date:"Y/m/d" }}</td>
                  <td>{{ query.stay_duration }}</td>
                  <td>{{ result.date_from }}</td>
                  <td>{{ result.date_to }}</td>
                  <td>${{ result.price }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <th scope="row">{{ query.pk }}</th>
                <td>{{ query.date_created|date:"Y/m/d" }}</td>
                <td>{{ query.departure_city }}</td>
                <td>{{ query.arrival_city }}</td>
                <td>{{ query.date_from|date:"Y/m/d" }}</td>
                <td>{{ query.date_to|date:"Y/m/d" }}</td>
                <td>{{ query.stay_duration }}</td>
                <td>N/A</td>
                <td>N/A</td>
                <td>N/A</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

  </div>

{% endblock content%}


{% block script %}
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/af-2.3.5/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/cr-1.5.2/sc-2.0.2/sp-1.1.1/datatables.min.js"></script>
  <script type="text/javascript" src="{% static 'js/history.js' %}"></script>

{% endblock script %}