{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1 class="content text-center mb-4">Wait</h1>

  <h3 id="info">The search takes some time (usually about 1-2 minutes). When the search is complete you will be redirected to the results page, please do not refresh the page. We will check if the results are ready in <span id="count">30</span> seconds</h3>
{% endblock content %}


{% block script %}
  <script>
    const check_results_url = "{% url 'check_results' search_id %}"
    const results_url = "{% url 'results' %}"
  </script>

  <script src="{% static 'js/wait.js' %}"></script>
{% endblock script %}
