.cards-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('../images/pexels-tarik-nachat-112116.jpg');
  background-size: 1700px 900px;
  background-repeat: no-repeat;
}

.centered-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.cards-grid-container {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.cards-image-mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  box-shadow: 1px 1px 3px 0 #000;
  opacity: 1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.heading {
  color: #fff;
}

.paragraph {
  color: #fafbff;
}

.paragraph-2 {
  color: #fff;
}

@media screen and (max-width: 991px) {
.cards-grid-container {
  grid-column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .cards-section {
    padding: 40px 20px;
  }
  .cards-grid-container {
  max-width: none;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .centered-container {
    text-align: left;
  }
  .cards-grid-container {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  #w-node-f94167736648-c4624996 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  }
  #w-node-f9416773664a-c4624996 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  }
  #w-node-f9416773664f-c4624996 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  }
  #w-node-f94167736651-c4624996 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f9416773663e-c4624996 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  }
  #w-node-f94167736645-c4624996 {-ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  }
  #w-node-f9416773664c-c4624996 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  }
}